.signout {
  display: flex;
  align-items: center;
}
.header{
  top:0;
  display: flex;
  justify-content: center;
}

.signout {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10px;
  right: 10px;
}

.greeting {
  font-size: 24px;
}

.home-img {
  width: 100%;
  /* height: 500px */
}
.clear-cart{
  font-size: 1em;
  background: none;
  border: 1px solid black;
}
.cart-title{
  font-size: 20px;
}
.cart-buttons{
  display: block;
}

.order-complete{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-line{
  border: 1px solid black;
  display: inline-flexbox;
  
}

.order-line img{
  width: 5rem;
  align-self: flex-start;
}

.order-history{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history-order{
  padding: 1rem;
  justify-content: center;
  background-color: rgb(255, 255, 255, .7);
  display: flexbox;
  border: 1px solid black;
}

.cart-items {
    font-size: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    flex: 0 1 30%;
    justify-content: space-between;
    background-image: radial-gradient(rgb(168, 172, 248) 0.5px, rgb(253, 253, 253) 0.5px);
    background-size: 10px 10px;
  }

.cart-item{
  display: flex;
  flex-direction: column;
}

.quantity{
  font-size: 2pxs;
}
.cart-close{
  background: none;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  padding: 1px;
  height: 20px;
  width: 20px;
  float: right;
}

.cart-close:hover{
  background-color: white;
}
.clear-cart:hover{
  background-color: white;
}

.aboveCart{
  margin-top: none;
}

.CartModal {
  width: 13rem;
  /* transition: width 300ms ease-in-out; */
  position: absolute; 
  /* z-index: 1;  */
  top: 0; 
  right: 0;
  overflow-x: hidden;
  padding-top: 10px; 
  padding-left: 1rem;
  margin-top: 7.9rem;
  background-color: rgba(211, 211, 211, .5);
  color: black;
}

#empty-cart{
  top: 0;
  font-size: 20px;
}