.navbarTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    color: rgba(65,75,86,1);
}
.navbarBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    color: rgba(65,75,86,1);
}

.navigation {
    display: flex;
    justify-content: center;
    position: sticky;
    padding: 10px;
}

.homepage {
    padding: 10px;
}
