#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

a:link    { 
  font-family: sentinel;
  color: rgba(65,75,86,1); 
  text-decoration: none; 
}
  a:visited { 
    font-family: sentinel;    
    color: rgba(65,75,86,1); 
    text-decoration: none; 
  }
  a:hover   { 
    font-family: sentinel;    
    color: rgba(65,75,86,1); 
    text-decoration: none; 
  }
  a:active  { 
    font-family: sentinel;    
    color: rgba(65,75,86,1); 
    text-decoration: none; 
  }